<a href="https://colab.research.google.com/github/Pneva-NV/Python/blob/main/task_HomeWork10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
# В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [72]:
import pandas as pd

In [73]:
import random

In [74]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  human

In [75]:
print(data)

   whoAmI
0   human
1   human
2   robot
3   human
4   human
5   human
6   human
7   robot
8   robot
9   robot
10  human
11  human
12  robot
13  robot
14  robot
15  robot
16  robot
17  human
18  human
19  robot

In [83]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
data_new = onehotencoder.fit_transform(data.values)
pd.DataFrame(data_new.toarray(),
columns=onehotencoder.categories_).head(20)

   human robot
0    1.0   0.0
1    1.0   0.0
2    0.0   1.0
3    1.0   0.0
4    1.0   0.0
5    1.0   0.0
6    1.0   0.0
7    0.0   1.0
8    0.0   1.0
9    0.0   1.0
10   1.0   0.0
11   1.0   0.0
12   0.0   1.0
13   0.0   1.0
14   0.0   1.0
15   0.0   1.0
16   0.0   1.0
17   1.0   0.0
18   1.0   0.0
19   0.0   1.0

In [79]:
pd.get_dummies(data, columns=["whoAmI"]).head(20) #Вывела для сравнения спредыдущим методом

    whoAmI_human  whoAmI_robot
0              1             0
1              1             0
2              0             1
3              1             0
4              1             0
5              1             0
6              1             0
7              0             1
8              0             1
9              0             1
10             1             0
11             1             0
12             0             1
13             0             1
14             0             1
15             0             1
16             0             1
17             1             0
18             1             0
19             0             1